.trigger {
  background-image: url(./angle-down.svg);
  background-repeat: no-repeat;
  background-position: bottom 50% right 0.75rem;
  background-size: 0.5rem;
  padding-right: 2rem;
}

.arrow {
  fill: var(--button-bg);
}
