---
import Layout from "../../layouts/Layout.astro";
import Sidebar from "../../components/Sidebar";
import TopBar from "../../components/TopBar.astro";
import { getData } from "../../protocols/near";

const { contract } = Astro.params;
const data = await getData(contract);
---

<Layout title={`${contract} ‹ RAEN Admin`} contractData={data}>
  <div class="flex">
    <Sidebar client:load />
    <div class="w-full">
      <TopBar />
      <!--
        Main Content Goes here
      -->
    </div>
  </div>
</Layout>
