---
import Layout from "../layouts/Layout.astro";
import Sidebar from '../components/Sidebar';
import TopBar from '../components/TopBar.astro';
---

<Layout title="RAEN Admin">
  <div class="flex">
    <Sidebar
      client:load
    />
    <div class="w-full">
      <TopBar />
      <!--
        Main Content Goes here
      -->
    </div>
  </div>
</Layout>
