---
import Layout from "../layouts/Layout.astro"

const featuredContracts = [
  [
    "simple.statusmessage.raendev.testnet",
    "A simple status message contract. Each account can store one `message` string.",
  ],
  [
    "intermediate.statusmessage.raendev.testnet",
    "Intermediate example of a status message with a body and title.",
  ],
  [
    "advanced.statusmessage.raendev.testnet",
    "Advanced example of a status message. `body` and `title` are encapsulated in a `Message` type, which is also exposed.",
  ],
  [
    "v2.tenk.testnet",
    "A full-featured (read: complex) NFT contract used as the starting point for new [TenK](https://tenk.dev) contracts.",
  ],
] as const;
---

<Layout>
  <div class="mycelium text-center">
    <div class="text-left">
      <wc-logo></wc-logo>
    </div>
    <div class="max-w-[770px] mx-auto px-4 pt-10">
      <h1 class="text-white text-5xl">
        Loam makes it easy to explore contracts on NEAR.
      </h1>
      <p class="text-neutral-400 mt-6 mb-4">
        Enter a contract name below (i.e. <a
          class="text-white"
          href="/near/counter.raendev.testnet">counter.raendev.testnet</a
        >)
      </p>
      <wc-contract-name-form protocol="NEAR"></wc-contract-name-form>
    </div>
    <div>
      <!-- wrapping div is needed for styling! -->
      <svg
        class="text-gray-100 block mt-10 translate-y-1"
        width="100%"
        viewBox="0 0 1440 72"
        fill="none"
      >
        <path
          d="M565 26.6842C347.8 -17.7789 104.833 34.9474 0 72L1440 72V0.5C1230.5 28.9211 782.2 71.1474 565 26.6842Z"
          class="fill-slate-200 dark:fill-black"></path>
      </svg>
    </div>
  </div>
  <div class="max-w-[770px] mx-auto p-6 dark:text-white text-2xl leading-10">
    <div class="responsiveVideoWrap">
      <iframe
        src="https://www.youtube-nocookie.com/embed/m5dOyaKp18Y"
        title="YouTube video player"
        class="w-full h-96"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <h2 class="text-4xl mb-4 mt-10">Try it</h2>
    <p>Poke at one of these examples:</p>
    <ul class="mt-5 mb-5">
      {
        featuredContracts.map(([contract, description]) => (
          <li>
            <h3>
              <a href={`/near/${contract}`}>
                <wc-with-wbrs word={contract} breakOn="." />
              </a>
            </h3>
            <p>{description}</p>
          </li>
        ))
      }
    </ul>
    <p>
      And learn to use it with <strong
        ><a href="https://raen.dev/guide">✨ The Guide ✨</a>
      </strong>
    </p>
    <p>
      Curious how it works? Want to report bugs or feature requests? Visit the
      repositories on GitHub: <a href="https://github.com/raendev/raen"
        >RAEN CLI</a
      > & <a href="https://github.com/raendev/admin">this website</a>.
    </p>
  </div>
</Layout>
