.forbidden,
.restrictedTo {
  display: flex;
  gap: 0.25rem;
}

.crown,
.restrictedTo > *:last-child {
  flex: 0 0 1rem;
}

.crown {
  margin: 0 0.25rem;
}

.restrictedTo,
.forbidden,
.forbidden:focus,
.forbidden:hover {
  color: var(--gray-6);
}
