.section {
  --animationTiming: 150ms;
}

.chevron,
.chevron:hover,
.chevron:focus {
  background: transparent;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  top: 0;
}

.chevron:after {
  background-image: url('./chevron.svg');
  background-size: contain;
  background-repeat: no-repeat;
  content: ' ';
  display: block;
  width: 1rem;
  padding-bottom: calc(7 / 12 * 100%);
  transition: transform var(--animationTiming);
  transform: rotate(0deg);
}

.closed .chevron:after {
  transform: rotate(-180deg);
}

.content {
  transition-delay: 300ms;
  transition-property: visibility;
  transition-duration: 0ms;
}

@keyframes slideDown {
  0% {
    height: 0px;
    margin: 0;
  }
  100% {
    height: var(--radix-collapsible-content-height);
    margin: 1rem 0 2.5rem;
  }
}

@keyframes slideUp {
  0% {
    height: var(--radix-collapsible-content-height);
    margin: 1rem 0 2.5rem;
    visibility: visible;
  }
  100% {
    height: 0px;
    margin: 0;
    visibility: hidden;
  }
}

.content[data-state="open"] {
  animation: slideDown 300ms ease-out;
  margin: 1rem 0 2.5rem;
  visibility: visible;
}

.content[data-state="closed"] {
  animation: slideUp 300ms ease-out forwards;
  margin: 0;
  visibility: hidden;
}
